body {
  background-color:rgb(29, 121, 116);
  color:black;
}

.container {
  width: 80%;
  margin: auto;
}

.pizzas {
 /* display: flex; */
}

.pizza{
    
  margin:0.5em;
  padding:0.5em;
  width:20em;
  border-radius:0.25em;
  display:inline-block;
  background-color:rgb(8, 150, 107);
  color:black;
  }

.btn {
color: rgb(0, 255, 55);
background-color: rgb(255, 30, 0);
margin-top: 0.5em;
padding: 0.5em;
float: right;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #f50e06;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  td {
    display: block;
    margin-bottom: 20px;
  }
}
